# Note : use the orders dataset for below problems:

# 1- create a new column in the orders dataframe with name profit_flag. Set its value as 1 if profit is greater than 0 else set 0.

# 2- in the orders data frame rename column names to upper case ..eg order_id should be ORDER_ID

# 3- again change the column names back to lower case

# 4- sort the dataframe column by profit in descending order 

# 5- sort the dataframe column by sales in ascending order , in case of a tie it should be sorted by profit in descending order 

# 6- reset the index to original state

# 7- create a column as profit_category . sets it value as below:

# if profit < 0 then 'loss'
# if profit between 0 and 100 then 'low profit' 
# if profit between 100 and 500 then 'medium profit'
# else high profit 

# 8- create a new column sales_profit_ratio and set its value as (profit/sales)*100

# 9- find all the orders where customer name starts with 'D' and ends with 'e'

# 10- create a new column order_year and populate it with year of order_date. ( hint : use the series objects slice method )

# 11 - delete column sales_profit_ratio from the dataframe

# 12- delete all the rows where profit is negative

In [1]:
import pandas as pd
df=pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt",delimiter=',')

In [2]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492

In [6]:
df.loc[df['profit']>0,'profit_flag']=1
df.loc[df['profit']<=0,'profit_flag']=0

In [10]:
print(df)

            order_id  order_date      customer_name           city  \
0     CA-2018-100006  2018-09-07        Dennis Kane  New York City
1     CA-2018-100090  2018-07-08         Ed Braxton  San Francisco
2     CA-2018-100293  2018-03-14   Neil Französisch   Jacksonville
3     CA-2018-100328  2018-01-28    Jasper Cacioppo  New York City
4     CA-2018-100363  2018-04-08        Jim Mitchum       Glendale
...              ...         ...                ...            ...
5004  US-2021-168802  2021-11-03      Jack O'Briant        Seattle
5005  US-2021-169320  2021-07-23     Lena Hernandez        Elkhart
5006  US-2021-169488  2021-09-07       Allen Armold     Providence
5007  US-2021-169502  2021-08-28  Matthew Grinstein      Milwaukee
5008  US-2021-169551  2021-07-07          Rob Lucas   Philadelphia

             category       product_id    sales    profit  profit_flag
0          Technology  TEC-PH-10002075  377.970  109.6113          1.0
1           Furniture  FUR-TA-10003715  502.488  -87.9354          0.0
2     Office Supplies  OFF-PA-10000176   91.056   31.8696          1.0
3     Office Supplies  OFF-BI-10000343    3.928    1.3257          1.0
4     Office Supplies  OFF-FA-10000611    2.368    0.8288          1.0
...               ...              ...      ...       ...          ...
5004  Office Supplies  OFF-BI-10002393   18.368    5.9696          1.0
5005  Office Supplies  OFF-AR-10003602   11.680    5.4896          1.0
5006  Office Supplies  OFF-PA-10000157   39.960   18.7812          1.0
5007  Office Supplies  OFF-AP-10001947   91.600   26.5640          1.0
5008        Furniture  FUR-BO-10001519   87.210  -45.3492          0.0

[5009 rows x 9 columns]

In [12]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_flag
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,1.0
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,0.0
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,1.0
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,1.0
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,1.0
...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,1.0
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,1.0
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,1.0
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,1.0
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,0.0

In [13]:

# 2- in the orders data frame rename column names to upper case ..eg order_id should be ORDER_ID

In [19]:
df=df.columns.str.upper()

AttributeError: 'Index' object has no attribute 'columns'

In [15]:
res

NameError: name 'res' is not defined

In [17]:
df

Index(['ORDER_ID', 'ORDER_DATE', 'CUSTOMER_NAME', 'CITY', 'CATEGORY',
       'PRODUCT_ID', 'SALES', 'PROFIT', 'PROFIT_FLAG'],
      dtype='object')

In [ ]:
# 3- again change the column names back to lower case

In [18]:
df.columns.str.lower()

AttributeError: 'Index' object has no attribute 'columns'

In [22]:
df.columns=df.columns.str.upper()

AttributeError: 'Index' object has no attribute 'columns'

In [23]:
df.columns = df.columns.str.upper()

AttributeError: 'Index' object has no attribute 'columns'

In [24]:
import pandas as pd
df=pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt",delimiter=',')

In [25]:
df.columns.str.upper()

Index(['ORDER_ID', 'ORDER_DATE', 'CUSTOMER_NAME', 'CITY', 'CATEGORY',
       'PRODUCT_ID', 'SALES', 'PROFIT'],
      dtype='object')

In [29]:
df.columns=df.columns.str.upper()

In [30]:
df

,ORDER_ID,ORDER_DATE,CUSTOMER_NAME,CITY,CATEGORY,PRODUCT_ID,SALES,PROFIT
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492

In [31]:
df.columns=df.columns.str.lower()

In [32]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492

In [34]:
#- sort the dataframe column by profit in descending order

In [36]:
df.sort_values(by='profit',ascending=False)

,order_id,order_date,customer_name,city,category,product_id,sales,profit
4126,CA-2021-166709,2021-11-17,Hunter Lopez,Newark,Technology,TEC-CO-10004722,10499.970,5039.9856
1968,CA-2020-117121,2020-12-17,Adrian Barton,Detroit,Office Supplies,OFF-BI-10000545,9892.740,4946.3700
547,CA-2018-145541,2018-12-14,Tom Boeckenhauer,New York City,Technology,TEC-MA-10001127,6999.960,2239.9872
3521,CA-2021-135909,2021-10-13,Jane Waco,Sacramento,Office Supplies,OFF-BI-10003527,5083.960,1906.4850
4730,US-2021-102183,2021-08-21,Pete Kriz,New York City,Office Supplies,OFF-BI-10001359,4305.552,1453.1238
...,...,...,...,...,...,...,...,...
1329,CA-2019-140025,2019-04-07,Peter Fuller,San Antonio,Office Supplies,OFF-AP-10002651,463.248,-1181.2824
4821,US-2021-120390,2021-10-19,Tracy Hopkins,Burlington,Office Supplies,OFF-BI-10004995,1633.188,-1306.5504
4458,US-2019-150630,2019-09-17,Tracy Blumstein,Philadelphia,Furniture,FUR-BO-10004834,3083.430,-1665.0522
1020,CA-2019-116638,2019-01-28,Joseph Holt,Concord,Furniture,FUR-TA-10000198,4297.644,-1862.3124
4829,US-2021-122714,2021-12-07,Henry Goldwyn,Chicago,Office Supplies,OFF-BI-10001120,1889.990,-2929.4845

In [ ]:
# 5- sort the dataframe column by sales in ascending order , in case of a tie it should be sorted by profit in descending order

In [43]:
df.sort_values(by=['sales','profit'],ascending=[True,False],inplace=True)

In [44]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit
4731,US-2021-102288,2021-06-19,Zuschuss Carroll,Houston,Office Supplies,OFF-AP-10002906,0.444,-1.1100
3293,CA-2021-124114,2021-03-02,Roland Schwarz,Waco,Office Supplies,OFF-BI-10004022,0.556,-0.9452
2771,CA-2020-168361,2020-06-21,Ken Brennan,Chicago,Office Supplies,OFF-BI-10003727,0.836,-1.3376
162,CA-2018-112403,2018-03-31,Jas O'Carroll,Philadelphia,Office Supplies,OFF-BI-10003529,0.852,-0.5964
4315,US-2018-152723,2018-09-26,Henry Goldwyn,Mesquite,Office Supplies,OFF-BI-10003460,0.876,-1.4016
...,...,...,...,...,...,...,...,...
540,CA-2018-144624,2018-11-19,John Murray,Jamestown,Technology,TEC-PH-10002885,4548.810,1228.1787
3521,CA-2021-135909,2021-10-13,Jane Waco,Sacramento,Office Supplies,OFF-BI-10003527,5083.960,1906.4850
547,CA-2018-145541,2018-12-14,Tom Boeckenhauer,New York City,Technology,TEC-MA-10001127,6999.960,2239.9872
1968,CA-2020-117121,2020-12-17,Adrian Barton,Detroit,Office Supplies,OFF-BI-10000545,9892.740,4946.3700
4126,CA-2021-166709,2021-11-17,Hunter Lopez,Newark,Technology,TEC-CO-10004722,10499.970,5039.9856

# 6- reset the index to original state

In [47]:
df.sort_index(inplace=True)

In [48]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492

# 7- create a column as profit_category . sets it value as below:

# if profit < 0 then 'loss'
# if profit between 0 and 100 then 'low profit' 
# if profit between 100 and 500 then 'medium profit'
# else high profit

In [57]:
df.loc[df['profit']<0,'profit_category']='Loss'
df.loc[(df['profit']>0) & (df['profit']<100),'profit_category']='low profit'
df.loc[(df['profit']>100) & (df['profit']<500),'profit_category']='medium profit'
df.loc[(df['profit']>500),'profit_category']='Profit'

In [58]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_category
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,medium profit
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,Loss
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,low profit
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,low profit
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,low profit
...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,low profit
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,low profit
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,low profit
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,low profit
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,Loss

In [59]:
# 8- create a new column sales_profit_ratio and set its value as (profit/sales)*100

In [66]:
df['sales_profit_ratio']=(df['profit']/df['sales'])*100

In [68]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_category,sales_profit_ratio
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,medium profit,29.00
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,Loss,-17.50
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,low profit,35.00
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,low profit,33.75
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,low profit,35.00
...,...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,low profit,32.50
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,low profit,47.00
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,low profit,47.00
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,low profit,29.00
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,Loss,-52.00

In [67]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_category,sales_profit_ratio
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,medium profit,29.00
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,Loss,-17.50
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,low profit,35.00
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,low profit,33.75
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,low profit,35.00
...,...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,low profit,32.50
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,low profit,47.00
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,low profit,47.00
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,low profit,29.00
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,Loss,-52.00

# 7- create a column as profit_category . sets it value as below:

# if profit < 0 then 'loss'
# if profit between 0 and 100 then 'low profit' 
# if profit between 100 and 500 then 'medium profit'
# else high profit

In [78]:
df = pd.read_csv('C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt', delimiter=',')
def profit_cat(profit):
    if profit<0:
        return 'loss'
    elif profit<=100:
        return 'low profit'
    elif profit<=500:
        return 'medium profit'
    else:
        return 'high profit'

df['profit_category']=df['profit'].apply(profit_cat)

In [79]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_category
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,medium profit
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,loss
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,low profit
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,low profit
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,low profit
...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,low profit
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,low profit
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,low profit
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,low profit
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,loss

In [76]:
df = pd.read_csv('C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt', delimiter=',')

# Define a function to categorize the profit
def categorize_profit(profit):
    if profit < 0:
        return 'loss'
    elif profit <= 100:
        return 'low profit'
    elif profit <= 500:
        return 'medium profit'
    else:
        return 'high profit'

# Apply the categorize_profit function to create the 'profit_category' column
df['profit_category'] = df['profit'].apply(categorize_profit)

# Display the modified DataFrame
print(df)

            order_id  order_date      customer_name           city  \
0     CA-2018-100006  2018-09-07        Dennis Kane  New York City
1     CA-2018-100090  2018-07-08         Ed Braxton  San Francisco
2     CA-2018-100293  2018-03-14   Neil Französisch   Jacksonville
3     CA-2018-100328  2018-01-28    Jasper Cacioppo  New York City
4     CA-2018-100363  2018-04-08        Jim Mitchum       Glendale
...              ...         ...                ...            ...
5004  US-2021-168802  2021-11-03      Jack O'Briant        Seattle
5005  US-2021-169320  2021-07-23     Lena Hernandez        Elkhart
5006  US-2021-169488  2021-09-07       Allen Armold     Providence
5007  US-2021-169502  2021-08-28  Matthew Grinstein      Milwaukee
5008  US-2021-169551  2021-07-07          Rob Lucas   Philadelphia

             category       product_id    sales    profit profit_category
0          Technology  TEC-PH-10002075  377.970  109.6113   medium profit
1           Furniture  FUR-TA-10003715  502.488  -87.9354            loss
2     Office Supplies  OFF-PA-10000176   91.056   31.8696      low profit
3     Office Supplies  OFF-BI-10000343    3.928    1.3257      low profit
4     Office Supplies  OFF-FA-10000611    2.368    0.8288      low profit
...               ...              ...      ...       ...             ...
5004  Office Supplies  OFF-BI-10002393   18.368    5.9696      low profit
5005  Office Supplies  OFF-AR-10003602   11.680    5.4896      low profit
5006  Office Supplies  OFF-PA-10000157   39.960   18.7812      low profit
5007  Office Supplies  OFF-AP-10001947   91.600   26.5640      low profit
5008        Furniture  FUR-BO-10001519   87.210  -45.3492            loss

[5009 rows x 9 columns]

In [80]:
# 9- find all the orders where customer name starts with 'D' and ends with 'e'

In [85]:
df['customer_name']=df['customer_name'].str.startswith('D')
df

AttributeError: Can only use .str accessor with string values!

In [99]:
df = pd.read_csv('C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt', delimiter=',')
res=df[df['customer_name'].str.startswith('D') & ]df['customer_name'].str.startswith('E')
res

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
11,CA-2018-100881,2018-03-28,Daniel Raglin,Albuquerque,Technology,TEC-PH-10003273,302.376,22.6782
14,CA-2018-100972,2018-11-19,Dennis Bolton,Salt Lake City,Office Supplies,OFF-PA-10000357,166.440,79.8912
16,CA-2018-101175,2018-12-09,Dario Medina,Mesa,Office Supplies,OFF-ST-10004950,100.704,-1.2588
30,CA-2018-102274,2018-11-21,Dave Hallsten,Richmond,Office Supplies,OFF-AR-10002833,5.460,1.4742
...,...,...,...,...,...,...,...,...
4954,US-2021-155299,2021-06-08,Dorris liebe,Pasadena,Office Supplies,OFF-AP-10002203,1.624,-4.4660
4965,US-2021-158512,2021-01-12,Dianna Arnett,Washington,Furniture,FUR-FU-10004973,37.680,15.8256
4968,US-2021-159205,2021-03-31,Daniel Byrd,Henderson,Furniture,FUR-FU-10001591,61.000,25.6200
4979,US-2021-162558,2021-10-02,Dean percer,Knoxville,Furniture,FUR-FU-10002364,11.808,1.3284
4986,US-2021-164147,2021-02-02,Dorothy Wardle,Columbus,Office Supplies,OFF-FA-10002780,21.456,6.9732

In [100]:
import pandas as pd

# Read the 'orders.txt' file into a DataFrame
df = pd.read_csv('C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt', delimiter=',')

# Filter the DataFrame for customer names starting with 'D' and ending with 'e'
filtered_orders = df[df['customer_name'].str.endswith('D')]

# Display the filtered orders
print(filtered_orders)

Empty DataFrame
Columns: [order_id, order_date, customer_name, city, category, product_id, sales, profit]
Index: []

In [101]:
 # create a new column order_year and populate it with year of order_date. ( hint : use the series objects slice method )

In [102]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492

In [103]:
df = pd.read_csv('C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt', delimiter=',')

In [104]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492

In [107]:
df['new_year']=df['order_date'].str.slice(0,4)

In [108]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,new_order_date
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,2018
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,2018
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,2018
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,2018
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,2018
...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,2021
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,2021
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,2021
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,2021
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,2021

In [109]:
# 11 - delete column sales_profit_ratio from the dataframe

In [110]:
# 8- create a new column sales_profit_ratio and set its value as (profit/sales)*100

In [113]:
df[' sales_profit_ratio']=(df['profit']/df['sales'])*100

In [121]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,new_order_date,sales_profit_ratio
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,2018,29.00
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,2018,-17.50
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,2018,35.00
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,2018,33.75
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,2018,35.00
...,...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,2021,32.50
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,2021,47.00
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,2021,47.00
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,2021,29.00
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,2021,-52.00

In [119]:
df.drop(columns=['sales_profit_ratio'],inplace=True)

KeyError: "['sales_profit_ratio'] not found in axis"

In [120]:
df.drop(columns=['sales_profit_ratio'], inplace= True)

KeyError: "['sales_profit_ratio'] not found in axis"

In [128]:
df = pd.read_csv('C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt', delimiter=',')

df['sales_profit_ratio']=(df['profit']/df['sales'])*100
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,sales_profit_ratio
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,29.00
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,-17.50
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,35.00
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,33.75
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,35.00
...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,32.50
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,47.00
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,47.00
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,29.00
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,-52.00

In [129]:
df.drop(columns=['sales_profit_ratio'])

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492

In [127]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492

In [131]:
# 12- delete all the rows where profit is negative

In [132]:
df = pd.read_csv('C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt', delimiter=',')

In [138]:
df=df[df['profit']>=0]
df

KeyError: 'profit'

In [139]:
df = pd.read_csv('C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt', delimiter=',')
df=df[df['profit']>=0]
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
5,CA-2018-100391,2018-05-25,Barry Weirich,New York City,Office Supplies,OFF-PA-10001471,14.620,6.7252
...,...,...,...,...,...,...,...,...
5002,US-2021-168613,2021-10-08,Gary McGarr,New York City,Furniture,FUR-CH-10002372,145.764,3.2392
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640

In [140]:
df.reset_index(drop=True, inplace=True)

In [141]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113
1,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
2,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
3,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
4,CA-2018-100391,2018-05-25,Barry Weirich,New York City,Office Supplies,OFF-PA-10001471,14.620,6.7252
...,...,...,...,...,...,...,...,...
3935,US-2021-168613,2021-10-08,Gary McGarr,New York City,Furniture,FUR-CH-10002372,145.764,3.2392
3936,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
3937,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
3938,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
3939,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640