In [372]:
import pandas as pd
import sqlalchemy as sal

In [373]:
import mysql.connector  as connection

In [640]:
try:
    mydb = connection.connect(host='localhost',user='root',passwd='GETdata123@720',use_pure=True)
    query="create database pickh"
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    mydb.close()
    print(str(e))

1007 (HY000): Can't create database 'pickh'; database exists

In [94]:
mydb = connection.connect(host='localhost',user='root',passwd='GETdata123@720',use_pure=True)
def extract():
    df_orders=pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt")
    df_returns=pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/returns.txt")
    return df_orders,df_returns
def transform(df_orders,df_returns):
    df=pd.merge(df_orders,df_returns,left_on= 'order_id',right_on= 'Order Id',how= 'inner')
    return df
def load(df):
    df.to_sql('project',con=connection)
    connection.comit()

In [92]:
df_orders,df_returns=extract()
df=transform(df_orders,df_returns)

In [360]:
query=load(df)
cursor = mydb.cursor()
cursor.execute(query)
print(cursor.fetchall())

2024-04-11 23:58:14,384 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-11 23:58:14,393 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 23:58:14,416 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-11 23:58:14,417 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 23:58:14,423 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-11 23:58:14,425 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 23:58:14,431 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-11 23:58:14,534 INFO sqlalchemy.engine.Engine DESCRIBE `project`.`products`
2024-04-11 23:58:14,537 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 23:58:14,693 INFO sqlalchemy.engine.Engine INSERT INTO products (order_id, order_date, customer_name, city, category, product_id, sales, profit, `Order Id`, `Return Reason`) VALUES (%(order_id)s, %(order_date)s, %(customer_name)s, %(city)s, %(category)s, %(product_id)s, %(sales)s, %(profit)s, %(Order_Id)s, %(Return_Reason)s)
2024-04-11 23:58:14,695 INFO sqlalchemy.engine.Engine [generated in 0.01068s] [{'order_id': 'CA-2018-100762', 'order_date': '2018-11-24', 'customer_name': 'Nat Gilpin', 'city': 'Jackson', 'category': 'Office Supplies', 'product_id': 'OFF-AR-10000380', 'sales': 151.92, 'profit': 45.576, 'Order_Id': 'CA-2018-100762', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-100867', 'order_date': '2018-10-19', 'customer_name': 'Eugene Hildebrand', 'city': 'Lakewood', 'category': 'Technology', 'product_id': 'TEC-PH-10004922', 'sales': 321.552, 'profit': 20.097, 'Order_Id': 'CA-2018-100867', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-102652', 'order_date': '2018-04-06', 'customer_name': 'Andy Yotov', 'city': 'Los Angeles', 'category': 'Furniture', 'product_id': 'FUR-FU-10000747', 'sales': 91.96, 'profit': 15.6332, 'Order_Id': 'CA-2018-102652', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103373', 'order_date': '2018-05-18', 'customer_name': 'Bruce Stewart', 'city': 'Cleveland', 'category': 'Technology', 'product_id': 'TEC-PH-10002885', 'sales': 779.796, 'profit': -168.9558, 'Order_Id': 'CA-2018-103373', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103744', 'order_date': '2018-02-23', 'customer_name': 'Michael Grace', 'city': 'El Paso', 'category': 'Office Supplies', 'product_id': 'OFF-BI-10000320', 'sales': 4.428, 'profit': -6.8634, 'Order_Id': 'CA-2018-103744', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103940', 'order_date': '2018-09-17', 'customer_name': 'Bradley Nguyen', 'city': 'Seattle', 'category': 'Furniture', 'product_id': 'FUR-FU-10004671', 'sales': 35.34, 'profit': 13.4292, 'Order_Id': 'CA-2018-103940', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-104829', 'order_date': '2018-11-18', 'customer_name': 'John Grady', 'city': 'Provo', 'category': 'Office Supplies', 'product_id': 'OFF-PA-10003016', 'sales': 21.98, 'profit': 9.891, 'Order_Id': 'CA-2018-104829', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-105270', 'order_date': '2018-11-11', 'customer_name': 'Arthur Prichep', 'city': 'Los Angeles', 'category': 'Furniture', 'product_id': 'FUR-CH-10000988', 'sales': 112.648, 'profit': 11.2648, 'Order_Id': 'CA-2018-105270', 'Return_Reason': None}  ... displaying 10 of 296 total bound parameter sets ...  {'order_id': 'US-2021-151127', 'order_date': '2021-05-22', 'customer_name': 'Rob Lucas', 'city': 'Los Angeles', 'category': 'Office Supplies', 'product_id': 'OFF-AR-10002445', 'sales': 49.56, 'profit': 18.8328, 'Order_Id': 'US-2021-151127', 'Return_Reason': 'Wrong Items'}, {'order_id': 'US-2021-155999', 'order_date': '2021-08-07', 'customer_name': 'Jay Kimmel', 'city': 'San Diego', 'category': 'Office Supplies', 'product_id': 'OFF-BI-10000404', 'sales': 13.76, 'profit': 4.644, 'Order_Id': 'US-2021-155999', 'Return_Reason': 'Wrong Items'}]
2024-04-11 23:58:14,736 INFO sqlalchemy.engine.Engine COMMIT

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'order_id' in 'field list'
[SQL: INSERT INTO products (order_id, order_date, customer_name, city, category, product_id, sales, profit, `Order Id`, `Return Reason`) VALUES (%(order_id)s, %(order_date)s, %(customer_name)s, %(city)s, %(category)s, %(product_id)s, %(sales)s, %(profit)s, %(Order_Id)s, %(Return_Reason)s)]
[parameters: [{'order_id': 'CA-2018-100762', 'order_date': '2018-11-24', 'customer_name': 'Nat Gilpin', 'city': 'Jackson', 'category': 'Office Supplies', 'product_id': 'OFF-AR-10000380', 'sales': 151.92, 'profit': 45.576, 'Order_Id': 'CA-2018-100762', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-100867', 'order_date': '2018-10-19', 'customer_name': 'Eugene Hildebrand', 'city': 'Lakewood', 'category': 'Technology', 'product_id': 'TEC-PH-10004922', 'sales': 321.552, 'profit': 20.097, 'Order_Id': 'CA-2018-100867', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-102652', 'order_date': '2018-04-06', 'customer_name': 'Andy Yotov', 'city': 'Los Angeles', 'category': 'Furniture', 'product_id': 'FUR-FU-10000747', 'sales': 91.96, 'profit': 15.6332, 'Order_Id': 'CA-2018-102652', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103373', 'order_date': '2018-05-18', 'customer_name': 'Bruce Stewart', 'city': 'Cleveland', 'category': 'Technology', 'product_id': 'TEC-PH-10002885', 'sales': 779.796, 'profit': -168.9558, 'Order_Id': 'CA-2018-103373', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103744', 'order_date': '2018-02-23', 'customer_name': 'Michael Grace', 'city': 'El Paso', 'category': 'Office Supplies', 'product_id': 'OFF-BI-10000320', 'sales': 4.428, 'profit': -6.8634, 'Order_Id': 'CA-2018-103744', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103940', 'order_date': '2018-09-17', 'customer_name': 'Bradley Nguyen', 'city': 'Seattle', 'category': 'Furniture', 'product_id': 'FUR-FU-10004671', 'sales': 35.34, 'profit': 13.4292, 'Order_Id': 'CA-2018-103940', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-104829', 'order_date': '2018-11-18', 'customer_name': 'John Grady', 'city': 'Provo', 'category': 'Office Supplies', 'product_id': 'OFF-PA-10003016', 'sales': 21.98, 'profit': 9.891, 'Order_Id': 'CA-2018-104829', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-105270', 'order_date': '2018-11-11', 'customer_name': 'Arthur Prichep', 'city': 'Los Angeles', 'category': 'Furniture', 'product_id': 'FUR-CH-10000988', 'sales': 112.648, 'profit': 11.2648, 'Order_Id': 'CA-2018-105270', 'Return_Reason': None}  ... displaying 10 of 296 total bound parameter sets ...  {'order_id': 'US-2021-151127', 'order_date': '2021-05-22', 'customer_name': 'Rob Lucas', 'city': 'Los Angeles', 'category': 'Office Supplies', 'product_id': 'OFF-AR-10002445', 'sales': 49.56, 'profit': 18.8328, 'Order_Id': 'US-2021-151127', 'Return_Reason': 'Wrong Items'}, {'order_id': 'US-2021-155999', 'order_date': '2021-08-07', 'customer_name': 'Jay Kimmel', 'city': 'San Diego', 'category': 'Office Supplies', 'product_id': 'OFF-BI-10000404', 'sales': 13.76, 'profit': 4.644, 'Order_Id': 'US-2021-155999', 'Return_Reason': 'Wrong Items'}]]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [52]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,Order Id,Return Reason
0,CA-2018-100762,2018-11-24,Nat Gilpin,Jackson,Office Supplies,OFF-AR-10000380,151.920,45.5760,CA-2018-100762,Bad Quality
1,CA-2018-100867,2018-10-19,Eugene Hildebrand,Lakewood,Technology,TEC-PH-10004922,321.552,20.0970,CA-2018-100867,Bad Quality
2,CA-2018-102652,2018-04-06,Andy Yotov,Los Angeles,Furniture,FUR-FU-10000747,91.960,15.6332,CA-2018-102652,Bad Quality
3,CA-2018-103373,2018-05-18,Bruce Stewart,Cleveland,Technology,TEC-PH-10002885,779.796,-168.9558,CA-2018-103373,Bad Quality
4,CA-2018-103744,2018-02-23,Michael Grace,El Paso,Office Supplies,OFF-BI-10000320,4.428,-6.8634,CA-2018-103744,Bad Quality
...,...,...,...,...,...,...,...,...,...,...
291,US-2021-136679,2021-11-14,Xylona Preis,Pasadena,Office Supplies,OFF-AR-10003582,45.040,4.5040,US-2021-136679,Others
292,US-2021-147886,2021-03-28,Dave Hallsten,Fairfield,Furniture,FUR-FU-10001095,26.480,10.0624,US-2021-147886,Others
293,US-2021-147998,2021-05-19,Sue Ann Reed,San Jose,Office Supplies,OFF-BI-10002082,133.120,49.9200,US-2021-147998,Wrong Items
294,US-2021-151127,2021-05-22,Rob Lucas,Los Angeles,Office Supplies,OFF-AR-10002445,49.560,18.8328,US-2021-151127,Wrong Items
295,US-2021-155999,2021-08-07,Jay Kimmel,San Diego,Office Supplies,OFF-BI-10000404,13.760,4.6440,US-2021-155999,Wrong Items

In [361]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as connection


def extract():
    df_orders = pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt")
    df_returns = pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/returns.txt")
    return df_orders, df_returns

def transform(df_orders, df_returns):
    df = pd.merge(df_orders, df_returns, left_on='order_id', right_on='Order Id', how='inner')
    return df

def load(df):
    engine = create_engine('mysql+mysqlconnector://root:GETdata123@720@localhost/project', echo=True)
    df.to_sql('orders_final', con=engine, if_exists='replace', index=False)

df_orders, df_returns = extract()
df = transform(df_orders, df_returns)
load(df)

DatabaseError: (mysql.connector.errors.DatabaseError) 2005 (HY000): Unknown MySQL server host '720@localhost' (11003)
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [362]:
def extract():
    df_orders=pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt")
    df_returns=pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/returns.txt")
    return df_orders,df_returns
def transform(df_orders,df_returns):
    df=pd.merge(df_orders,df_returns,left_on= 'order_id',right_on= 'Order Id',how= 'inner')
    return df
def load(df):
    df.to_sql('orders_final',con=connection)
    connection.comit()

In [363]:
df_orders,df_returns=extract()

In [364]:
df=transform(df_orders,df_returns)

In [250]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,Order Id,Return Reason
0,CA-2018-100762,2018-11-24,Nat Gilpin,Jackson,Office Supplies,OFF-AR-10000380,151.920,45.5760,CA-2018-100762,Bad Quality
1,CA-2018-100867,2018-10-19,Eugene Hildebrand,Lakewood,Technology,TEC-PH-10004922,321.552,20.0970,CA-2018-100867,Bad Quality
2,CA-2018-102652,2018-04-06,Andy Yotov,Los Angeles,Furniture,FUR-FU-10000747,91.960,15.6332,CA-2018-102652,Bad Quality
3,CA-2018-103373,2018-05-18,Bruce Stewart,Cleveland,Technology,TEC-PH-10002885,779.796,-168.9558,CA-2018-103373,Bad Quality
4,CA-2018-103744,2018-02-23,Michael Grace,El Paso,Office Supplies,OFF-BI-10000320,4.428,-6.8634,CA-2018-103744,Bad Quality
...,...,...,...,...,...,...,...,...,...,...
291,US-2021-136679,2021-11-14,Xylona Preis,Pasadena,Office Supplies,OFF-AR-10003582,45.040,4.5040,US-2021-136679,Others
292,US-2021-147886,2021-03-28,Dave Hallsten,Fairfield,Furniture,FUR-FU-10001095,26.480,10.0624,US-2021-147886,Others
293,US-2021-147998,2021-05-19,Sue Ann Reed,San Jose,Office Supplies,OFF-BI-10002082,133.120,49.9200,US-2021-147998,Wrong Items
294,US-2021-151127,2021-05-22,Rob Lucas,Los Angeles,Office Supplies,OFF-AR-10002445,49.560,18.8328,US-2021-151127,Wrong Items
295,US-2021-155999,2021-08-07,Jay Kimmel,San Diego,Office Supplies,OFF-BI-10000404,13.760,4.6440,US-2021-155999,Wrong Items

In [365]:
load(df)

C:\Users\tooso\AppData\Local\Temp\ipykernel_9040\2395163949.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql('orders_final',con=connection)

TypeError: 'module' object is not callable

In [639]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as connection

# Establish the MySQL connection
mydb = connection.connect(
    host='localhost', user='root', passwd='GETdata123@720', database='project', use_pure=True)

def extract():
    # Load data from CSV files into DataFrames
    df_orders = pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt")
    df_returns = pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/returns.txt")
    return df_orders, df_returns

def transform(df_orders, df_returns):
    # Merge DataFrames
    df = pd.merge(df_orders, df_returns, left_on='order_id', right_on='Order Id', how='inner')
    return df

def load(df):
    # Create SQLAlchemy engine for MySQL connection
    engine = create_engine('mysql+mysqlconnector://root:GETdata123%40720@127.0.0.1:3306/project', echo=True)
    # Load DataFrame into MySQL table
    df.to_sql('orders_final', con=engine, if_exists='replace', index=False)

# Extract data
df_orders, df_returns = extract()

# Transform data
df = transform(df_orders, df_returns)

# Load data into MySQL
load(df)

# Commit changes to MySQL (optional)
mydb.commit()

2024-04-14 12:32:03,497 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-14 12:32:03,503 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:32:03,522 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-14 12:32:03,524 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:32:03,527 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-14 12:32:03,528 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:32:03,532 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-14 12:32:03,554 INFO sqlalchemy.engine.Engine DESCRIBE `project`.`orders_final`
2024-04-14 12:32:03,556 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:32:03,641 INFO sqlalchemy.engine.Engine DESCRIBE `project`.`orders_final`
2024-04-14 12:32:03,641 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:32:03,647 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `project`
2024-04-14 12:32:03,647 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:32:03,671 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `project`
2024-04-14 12:32:03,672 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:32:03,696 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `orders_final`
2024-04-14 12:32:03,697 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:32:03,758 INFO sqlalchemy.engine.Engine
DROP TABLE orders_final
2024-04-14 12:32:03,759 INFO sqlalchemy.engine.Engine [no key 0.00160s] {}
2024-04-14 12:32:03,878 INFO sqlalchemy.engine.Engine
CREATE TABLE orders_final (
	order_id TEXT,
	order_date TEXT,
	customer_name TEXT,
	city TEXT,
	category TEXT,
	product_id TEXT,
	sales FLOAT(53),
	profit FLOAT(53),
	`Order Id` TEXT,
	`Return Reason` TEXT
)


2024-04-14 12:32:03,878 INFO sqlalchemy.engine.Engine [no key 0.00133s] {}
2024-04-14 12:32:03,943 INFO sqlalchemy.engine.Engine INSERT INTO orders_final (order_id, order_date, customer_name, city, category, product_id, sales, profit, `Order Id`, `Return Reason`) VALUES (%(order_id)s, %(order_date)s, %(customer_name)s, %(city)s, %(category)s, %(product_id)s, %(sales)s, %(profit)s, %(Order_Id)s, %(Return_Reason)s)
2024-04-14 12:32:03,944 INFO sqlalchemy.engine.Engine [generated in 0.00293s] [{'order_id': 'CA-2018-100762', 'order_date': '2018-11-24', 'customer_name': 'Nat Gilpin', 'city': 'Jackson', 'category': 'Office Supplies', 'product_id': 'OFF-AR-10000380', 'sales': 151.92, 'profit': 45.576, 'Order_Id': 'CA-2018-100762', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-100867', 'order_date': '2018-10-19', 'customer_name': 'Eugene Hildebrand', 'city': 'Lakewood', 'category': 'Technology', 'product_id': 'TEC-PH-10004922', 'sales': 321.552, 'profit': 20.097, 'Order_Id': 'CA-2018-100867', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-102652', 'order_date': '2018-04-06', 'customer_name': 'Andy Yotov', 'city': 'Los Angeles', 'category': 'Furniture', 'product_id': 'FUR-FU-10000747', 'sales': 91.96, 'profit': 15.6332, 'Order_Id': 'CA-2018-102652', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103373', 'order_date': '2018-05-18', 'customer_name': 'Bruce Stewart', 'city': 'Cleveland', 'category': 'Technology', 'product_id': 'TEC-PH-10002885', 'sales': 779.796, 'profit': -168.9558, 'Order_Id': 'CA-2018-103373', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103744', 'order_date': '2018-02-23', 'customer_name': 'Michael Grace', 'city': 'El Paso', 'category': 'Office Supplies', 'product_id': 'OFF-BI-10000320', 'sales': 4.428, 'profit': -6.8634, 'Order_Id': 'CA-2018-103744', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103940', 'order_date': '2018-09-17', 'customer_name': 'Bradley Nguyen', 'city': 'Seattle', 'category': 'Furniture', 'product_id': 'FUR-FU-10004671', 'sales': 35.34, 'profit': 13.4292, 'Order_Id': 'CA-2018-103940', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-104829', 'order_date': '2018-11-18', 'customer_name': 'John Grady', 'city': 'Provo', 'category': 'Office Supplies', 'product_id': 'OFF-PA-10003016', 'sales': 21.98, 'profit': 9.891, 'Order_Id': 'CA-2018-104829', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-105270', 'order_date': '2018-11-11', 'customer_name': 'Arthur Prichep', 'city': 'Los Angeles', 'category': 'Furniture', 'product_id': 'FUR-CH-10000988', 'sales': 112.648, 'profit': 11.2648, 'Order_Id': 'CA-2018-105270', 'Return_Reason': None}  ... displaying 10 of 296 total bound parameter sets ...  {'order_id': 'US-2021-151127', 'order_date': '2021-05-22', 'customer_name': 'Rob Lucas', 'city': 'Los Angeles', 'category': 'Office Supplies', 'product_id': 'OFF-AR-10002445', 'sales': 49.56, 'profit': 18.8328, 'Order_Id': 'US-2021-151127', 'Return_Reason': 'Wrong Items'}, {'order_id': 'US-2021-155999', 'order_date': '2021-08-07', 'customer_name': 'Jay Kimmel', 'city': 'San Diego', 'category': 'Office Supplies', 'product_id': 'OFF-BI-10000404', 'sales': 13.76, 'profit': 4.644, 'Order_Id': 'US-2021-155999', 'Return_Reason': 'Wrong Items'}]
2024-04-14 12:32:03,978 INFO sqlalchemy.engine.Engine COMMIT

In [253]:
res=pd.read_sql_query('select * from orders_final',con=engine)
res

2024-04-11 19:01:17,326 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-11 19:01:17,327 INFO sqlalchemy.engine.Engine select * from orders_final
2024-04-11 19:01:17,328 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 19:01:17,343 INFO sqlalchemy.engine.Engine ROLLBACK

,order_id,order_date,customer_name,city,category,product_id,sales,profit,Order Id,Return Reason
0,CA-2018-100762,2018-11-24,Nat Gilpin,Jackson,Office Supplies,OFF-AR-10000380,151.920,45.5760,CA-2018-100762,Bad Quality
1,CA-2018-100867,2018-10-19,Eugene Hildebrand,Lakewood,Technology,TEC-PH-10004922,321.552,20.0970,CA-2018-100867,Bad Quality
2,CA-2018-102652,2018-04-06,Andy Yotov,Los Angeles,Furniture,FUR-FU-10000747,91.960,15.6332,CA-2018-102652,Bad Quality
3,CA-2018-103373,2018-05-18,Bruce Stewart,Cleveland,Technology,TEC-PH-10002885,779.796,-168.9558,CA-2018-103373,Bad Quality
4,CA-2018-103744,2018-02-23,Michael Grace,El Paso,Office Supplies,OFF-BI-10000320,4.428,-6.8634,CA-2018-103744,Bad Quality
...,...,...,...,...,...,...,...,...,...,...
291,US-2021-136679,2021-11-14,Xylona Preis,Pasadena,Office Supplies,OFF-AR-10003582,45.040,4.5040,US-2021-136679,Others
292,US-2021-147886,2021-03-28,Dave Hallsten,Fairfield,Furniture,FUR-FU-10001095,26.480,10.0624,US-2021-147886,Others
293,US-2021-147998,2021-05-19,Sue Ann Reed,San Jose,Office Supplies,OFF-BI-10002082,133.120,49.9200,US-2021-147998,Wrong Items
294,US-2021-151127,2021-05-22,Rob Lucas,Los Angeles,Office Supplies,OFF-AR-10002445,49.560,18.8328,US-2021-151127,Wrong Items
295,US-2021-155999,2021-08-07,Jay Kimmel,San Diego,Office Supplies,OFF-BI-10000404,13.760,4.6440,US-2021-155999,Wrong Items

In [121]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Create a DataFrame with the data
data = {'name': ['Alice', 'Bob'],
        'address': ['Street 123', 'Avenue 456']}
df = pd.DataFrame(data)
# engine = create_engine('mysql+mysqlconnector://root:GETdata123%40720@localhost/project', echo=True)
engine = create_engine('mysql+mysqlconnector://root:GETdata123%40720@127.0.0.1:3306/project', echo=True)

# Step 2: Create a SQLAlchemy engine to connect to the MySQL database


# Step 3: Convert the Pandas DataFrame to a format for MySQL table insertion
engine

Engine(mysql+mysqlconnector://root:***@127.0.0.1:3306/project)

In [122]:
df.to_sql('customers', con=engine, if_exists='append', index=False)

2024-04-11 15:15:12,094 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-11 15:15:12,103 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 15:15:12,213 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-11 15:15:12,213 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 15:15:12,219 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-11 15:15:12,220 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 15:15:12,232 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-11 15:15:12,272 INFO sqlalchemy.engine.Engine DESCRIBE `project`.`customers`
2024-04-11 15:15:12,273 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 15:15:12,309 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	name TEXT,
	address TEXT
)


2024-04-11 15:15:12,310 INFO sqlalchemy.engine.Engine [no key 0.00135s] {}
2024-04-11 15:15:12,416 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, address) VALUES (%(name)s, %(address)s)
2024-04-11 15:15:12,417 INFO sqlalchemy.engine.Engine [generated in 0.00191s] [{'name': 'Alice', 'address': 'Street 123'}, {'name': 'Bob', 'address': 'Avenue 456'}]
2024-04-11 15:15:12,431 INFO sqlalchemy.engine.Engine COMMIT

2

In [179]:
def extract():
    df_product=pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/product.txt")
    df_products_db=pd.read_sql_query('select * from product',con=engine)
    return df_product,df_products_db

In [208]:
def transform(df_product,df_products_db):
    df_merged=pd.merge(df_product,df_products_db,how='left',on='product_id')
    df_insert=df_merged[df_merged['product_name_y'].isna()]
    df_insert_final=df_insert.iloc[:,0:3]
    return df_insert_final
def load(df_insert_final):
    engine = create_engine('mysql+mysqlconnector://root:GETdata123%40720@127.0.0.1:3306/project', echo=True)
    df_insert_final.to_sql('product',con=engine,if_exists='append',index=False)
    mydb.commit()

In [209]:
df_product,df_products_db=extract()
df_merged=transform(df_product,df_products_db)
df_merged

2024-04-11 18:19:51,159 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-11 18:19:51,160 INFO sqlalchemy.engine.Engine select * from product
2024-04-11 18:19:51,160 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:19:51,163 INFO sqlalchemy.engine.Engine ROLLBACK

   product_id product_name_x  price_x
0           1    'HP laptop'     5000
1           2       'iphone'     7500

In [210]:
df_product,df_products_db=extract()
df_insert_final=transform(df_product,df_products_db)
load(df_insert_final)

2024-04-11 18:19:51,648 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-11 18:19:51,648 INFO sqlalchemy.engine.Engine select * from product
2024-04-11 18:19:51,649 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:19:51,651 INFO sqlalchemy.engine.Engine ROLLBACK
2024-04-11 18:19:51,674 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-11 18:19:51,675 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:19:51,678 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-11 18:19:51,678 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:19:51,680 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-11 18:19:51,680 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:19:51,681 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-11 18:19:51,683 INFO sqlalchemy.engine.Engine DESCRIBE `project`.`product`
2024-04-11 18:19:51,684 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:19:51,705 INFO sqlalchemy.engine.Engine INSERT INTO product (product_id, product_name_x, price_x) VALUES (%(product_id)s, %(product_name_x)s, %(price_x)s)
2024-04-11 18:19:51,706 INFO sqlalchemy.engine.Engine [generated in 0.00148s] [{'product_id': 1, 'product_name_x': "'HP laptop'", 'price_x': 5000}, {'product_id': 2, 'product_name_x': "'iphone'", 'price_x': 7500}]
2024-04-11 18:19:51,710 INFO sqlalchemy.engine.Engine COMMIT

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'product_name_x' in 'field list'
[SQL: INSERT INTO product (product_id, product_name_x, price_x) VALUES (%(product_id)s, %(product_name_x)s, %(price_x)s)]
[parameters: [{'product_id': 1, 'product_name_x': "'HP laptop'", 'price_x': 5000}, {'product_id': 2, 'product_name_x': "'iphone'", 'price_x': 7500}]]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [211]:
 df_products_db=pd.read_sql_query('select * from product',con=engine)

2024-04-11 18:22:18,569 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-11 18:22:18,570 INFO sqlalchemy.engine.Engine select * from product
2024-04-11 18:22:18,571 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:22:18,573 INFO sqlalchemy.engine.Engine ROLLBACK

In [225]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as connection

# Establish the MySQL connection
mydb = connection.connect(
    host='localhost', user='root', passwd='GETdata123@720', database='project', use_pure=True)

def extract():
    # Load data from CSV files into DataFrames
    df_orders = pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/orders.txt")
    df_returns = pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/returns.txt")
    return df_orders, df_returns

def transform(df_orders, df_returns):
    # Merge DataFrames
    df = pd.merge(df_orders, df_returns, left_on='order_id', right_on='Order Id', how='inner')
    return df

def load(df):
    # Create SQLAlchemy engine for MySQL connection
    engine = create_engine('mysql+mysqlconnector://root:GETdata123%40720@127.0.0.1:3306/project', echo=True)
    # Load DataFrame into MySQL table
    df.to_sql('orders_final', con=engine, if_exists='replace', index=False)

# Extract data
df_orders, df_returns = extract()

# Transform data
df = transform(df_orders, df_returns)

# Load data into MySQL
load(df)

# Commit changes to MySQL (optional)
mydb.commit()

2024-04-11 18:35:30,417 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-11 18:35:30,418 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:35:30,420 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-11 18:35:30,421 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:35:30,423 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-11 18:35:30,424 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:35:30,426 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-11 18:35:30,429 INFO sqlalchemy.engine.Engine DESCRIBE `project`.`orders_final`
2024-04-11 18:35:30,430 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:35:30,446 INFO sqlalchemy.engine.Engine DESCRIBE `project`.`orders_final`
2024-04-11 18:35:30,447 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:35:30,449 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `project`
2024-04-11 18:35:30,450 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:35:30,455 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `project`
2024-04-11 18:35:30,455 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:35:30,460 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `orders_final`
2024-04-11 18:35:30,461 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-11 18:35:30,465 INFO sqlalchemy.engine.Engine
DROP TABLE orders_final
2024-04-11 18:35:30,466 INFO sqlalchemy.engine.Engine [no key 0.00151s] {}
2024-04-11 18:35:30,499 INFO sqlalchemy.engine.Engine
CREATE TABLE orders_final (
	order_id TEXT,
	order_date TEXT,
	customer_name TEXT,
	city TEXT,
	category TEXT,
	product_id TEXT,
	sales FLOAT(53),
	profit FLOAT(53),
	`Order Id` TEXT,
	`Return Reason` TEXT
)


2024-04-11 18:35:30,500 INFO sqlalchemy.engine.Engine [no key 0.00116s] {}
2024-04-11 18:35:30,531 INFO sqlalchemy.engine.Engine INSERT INTO orders_final (order_id, order_date, customer_name, city, category, product_id, sales, profit, `Order Id`, `Return Reason`) VALUES (%(order_id)s, %(order_date)s, %(customer_name)s, %(city)s, %(category)s, %(product_id)s, %(sales)s, %(profit)s, %(Order_Id)s, %(Return_Reason)s)
2024-04-11 18:35:30,532 INFO sqlalchemy.engine.Engine [generated in 0.00281s] [{'order_id': 'CA-2018-100762', 'order_date': '2018-11-24', 'customer_name': 'Nat Gilpin', 'city': 'Jackson', 'category': 'Office Supplies', 'product_id': 'OFF-AR-10000380', 'sales': 151.92, 'profit': 45.576, 'Order_Id': 'CA-2018-100762', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-100867', 'order_date': '2018-10-19', 'customer_name': 'Eugene Hildebrand', 'city': 'Lakewood', 'category': 'Technology', 'product_id': 'TEC-PH-10004922', 'sales': 321.552, 'profit': 20.097, 'Order_Id': 'CA-2018-100867', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-102652', 'order_date': '2018-04-06', 'customer_name': 'Andy Yotov', 'city': 'Los Angeles', 'category': 'Furniture', 'product_id': 'FUR-FU-10000747', 'sales': 91.96, 'profit': 15.6332, 'Order_Id': 'CA-2018-102652', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103373', 'order_date': '2018-05-18', 'customer_name': 'Bruce Stewart', 'city': 'Cleveland', 'category': 'Technology', 'product_id': 'TEC-PH-10002885', 'sales': 779.796, 'profit': -168.9558, 'Order_Id': 'CA-2018-103373', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103744', 'order_date': '2018-02-23', 'customer_name': 'Michael Grace', 'city': 'El Paso', 'category': 'Office Supplies', 'product_id': 'OFF-BI-10000320', 'sales': 4.428, 'profit': -6.8634, 'Order_Id': 'CA-2018-103744', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-103940', 'order_date': '2018-09-17', 'customer_name': 'Bradley Nguyen', 'city': 'Seattle', 'category': 'Furniture', 'product_id': 'FUR-FU-10004671', 'sales': 35.34, 'profit': 13.4292, 'Order_Id': 'CA-2018-103940', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-104829', 'order_date': '2018-11-18', 'customer_name': 'John Grady', 'city': 'Provo', 'category': 'Office Supplies', 'product_id': 'OFF-PA-10003016', 'sales': 21.98, 'profit': 9.891, 'Order_Id': 'CA-2018-104829', 'Return_Reason': 'Bad Quality'}, {'order_id': 'CA-2018-105270', 'order_date': '2018-11-11', 'customer_name': 'Arthur Prichep', 'city': 'Los Angeles', 'category': 'Furniture', 'product_id': 'FUR-CH-10000988', 'sales': 112.648, 'profit': 11.2648, 'Order_Id': 'CA-2018-105270', 'Return_Reason': None}  ... displaying 10 of 296 total bound parameter sets ...  {'order_id': 'US-2021-151127', 'order_date': '2021-05-22', 'customer_name': 'Rob Lucas', 'city': 'Los Angeles', 'category': 'Office Supplies', 'product_id': 'OFF-AR-10002445', 'sales': 49.56, 'profit': 18.8328, 'Order_Id': 'US-2021-151127', 'Return_Reason': 'Wrong Items'}, {'order_id': 'US-2021-155999', 'order_date': '2021-08-07', 'customer_name': 'Jay Kimmel', 'city': 'San Diego', 'category': 'Office Supplies', 'product_id': 'OFF-BI-10000404', 'sales': 13.76, 'profit': 4.644, 'Order_Id': 'US-2021-155999', 'Return_Reason': 'Wrong Items'}]
2024-04-11 18:35:30,553 INFO sqlalchemy.engine.Engine COMMIT

In [644]:
import pandas as pd
from sqlalchemy import create_engine,text
import mysql.connector as connection

# Establish the MySQL connection
mydb = connection.connect(
    host='localhost', user='root', passwd='GETdata123@720', database='project', use_pure=True)
def extract():
    df_product=pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/product.txt")
    df_products_db=pd.read_sql_query('select * from products',con=engine)
    return df_product,df_products_db

def transform(df_product,df_products_db):
    df_merged=pd.merge(df_product,df_products_db,how='left',on='product_id')
    df_insert=df_merged[df_merged['product_name_y'].isna()]
    df_insert_final=df_insert.iloc[:,0:3]
    df_insert_final.columns=df_products_db.columns

    df_update=df_merged[df_merged['product_name_y'].notna()]
    df_update_final=df_update.iloc[:,0:3]
    df_update_final.columns=df_products_db.columns
    return df_insert_final,df_update_final
def load_stage(df_update_final):
    engine = create_engine('mysql+mysqlconnector://root:GETdata123%40720@127.0.0.1:3306/project', echo=True)
    df_update_final.to_sql('products_stage',con=engine,if_exists='replace',index=False)
  
    
def updates():
    engine = create_engine('mysql+mysqlconnector://root:GETdata123%40720@127.0.0.1:3306/project', echo=True)
    query = text('UPDATE products JOIN products_stage ON products.product_id = products_stage.product_id SET products.price = products_stage.price')
    with engine.connect() as con:
        con.execute(query)
        con.commit()


def inserts(df_insert_final):
    engine = create_engine('mysql+mysqlconnector://root:GETdata123%40720@127.0.0.1:3306/project', echo=True)
    df_insert_final.to_sql('products',con=engine,if_exists='append',index=False)

In [645]:
df_product,df_products_db=extract()

2024-04-14 12:55:24,343 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-14 12:55:24,344 INFO sqlalchemy.engine.Engine select * from products
2024-04-14 12:55:24,345 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:24,371 INFO sqlalchemy.engine.Engine ROLLBACK

In [646]:
df_insert_final,df_update_final=transform(df_product,df_products_db)
df_update_final
load_stage(df_update_final)
inserts(df_insert_final)
updates()

2024-04-14 12:55:25,148 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-14 12:55:25,149 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,155 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-14 12:55:25,156 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,157 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-14 12:55:25,160 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,162 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-14 12:55:25,164 INFO sqlalchemy.engine.Engine DESCRIBE `project`.`products_stage`
2024-04-14 12:55:25,165 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,177 INFO sqlalchemy.engine.Engine DESCRIBE `project`.`products_stage`
2024-04-14 12:55:25,178 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,183 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `project`
2024-04-14 12:55:25,188 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,204 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `project`
2024-04-14 12:55:25,205 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,211 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `products_stage`
2024-04-14 12:55:25,212 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,224 INFO sqlalchemy.engine.Engine
DROP TABLE products_stage
2024-04-14 12:55:25,226 INFO sqlalchemy.engine.Engine [no key 0.00181s] {}
2024-04-14 12:55:25,328 INFO sqlalchemy.engine.Engine
CREATE TABLE products_stage (
	product_id BIGINT,
	product_name TEXT,
	price BIGINT
)


2024-04-14 12:55:25,328 INFO sqlalchemy.engine.Engine [no key 0.00108s] {}
2024-04-14 12:55:25,394 INFO sqlalchemy.engine.Engine INSERT INTO products_stage (product_id, product_name, price) VALUES (%(product_id)s, %(product_name)s, %(price)s)
2024-04-14 12:55:25,395 INFO sqlalchemy.engine.Engine [generated in 0.00117s] [{'product_id': 100, 'product_name': "'iphone'", 'price': 35000}, {'product_id': 200, 'product_name': "'ps5'", 'price': 100000}, {'product_id': 200, 'product_name': "'ps5'", 'price': 100000}, {'product_id': 200, 'product_name': "'motorola'", 'price': 45000}, {'product_id': 200, 'product_name': "'motorola'", 'price': 45000}]
2024-04-14 12:55:25,403 INFO sqlalchemy.engine.Engine COMMIT
2024-04-14 12:55:25,420 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-14 12:55:25,420 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,423 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-14 12:55:25,424 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,426 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-14 12:55:25,427 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,429 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-14 12:55:25,433 INFO sqlalchemy.engine.Engine DESCRIBE `project`.`products`
2024-04-14 12:55:25,434 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,446 INFO sqlalchemy.engine.Engine COMMIT
2024-04-14 12:55:25,458 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-14 12:55:25,458 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,461 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-14 12:55:25,461 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,463 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-14 12:55:25,463 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 12:55:25,466 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-14 12:55:25,467 INFO sqlalchemy.engine.Engine UPDATE products JOIN products_stage ON products.product_id = products_stage.product_id SET products.price = products_stage.price
2024-04-14 12:55:25,468 INFO sqlalchemy.engine.Engine [generated in 0.00167s] {}
2024-04-14 12:55:25,484 INFO sqlalchemy.engine.Engine COMMIT

In [376]:
import pandas as pd
import sqlalchemy as sal

In [377]:
import mysql.connector  as connection

In [422]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as connection
# Establish the MySQL connection
 # Create SQLAlchemy engine for MySQL connection
engine = create_engine('mysql+mysqlconnector://root:GETdata123%40720@127.0.0.1:3306/project', echo=True)
    # Load DataFrame into MySQL table
def extract():
    # Load data from CSV files into DataFrames
    df_product=pd.read_csv("C:/Program Files/JetBrains/PyCharm 2023.3.4/product.txt")
    df_product_db=pd.read_sql_query('select * from product_dim',con=engine)
    return df_product,df_product_db
def transform(df_product,df_product_db):
    df_merged=pd.merge(df_product,df_product_db,how='inner',on='product_id')
    
    return df_merged
def inserts(df_product):
    df_product.to_sql('product_dim',con=engine,if_exists='append',index=False)

In [423]:
df_product,df_product_db=extract()
df_product['start_date']='2024-04-01'
df_product['end_date']='9999-04-01'

2024-04-13 19:32:09,805 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-13 19:32:09,806 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-13 19:32:09,808 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-13 19:32:09,809 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-13 19:32:09,810 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-13 19:32:09,812 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-13 19:32:09,813 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-13 19:32:09,814 INFO sqlalchemy.engine.Engine select * from product_dim
2024-04-13 19:32:09,815 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-13 19:32:09,818 INFO sqlalchemy.engine.Engine ROLLBACK

In [643]:
df_product
inserts(df_product)

2024-04-14 12:55:17,365 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-14 12:55:17,447 INFO sqlalchemy.engine.Engine COMMIT

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

In [641]:
def transform(df_product,df_product_db):
    df_merged(df_product,df_product_db,how='inner',on='product_id')

In [642]:

transform(df_product,df_product_db)

TypeError: 'DataFrame' object is not callable

In [647]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as connection

engine = create_engine('mysql+mysqlconnector://root:GETdata123%40720@127.0.0.1:3306/project', echo=True)
df_insert_final.to_sql('products',con=engine,if_exists='append',index=False)

2024-04-14 13:06:03,266 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-14 13:06:03,269 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 13:06:03,276 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-14 13:06:03,277 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 13:06:03,279 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-14 13:06:03,280 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 13:06:03,282 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-14 13:06:03,315 INFO sqlalchemy.engine.Engine DESCRIBE `project`.`products`
2024-04-14 13:06:03,316 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 13:06:03,389 INFO sqlalchemy.engine.Engine COMMIT

0

NEW PROJECT

In [648]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\tooso\appdata\local\programs\python\python312\lib\site-packages (1.6.12)
Requirement already satisfied: six>=1.10 in c:\users\tooso\appdata\roaming\python\python312\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\tooso\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\tooso\appdata\roaming\python\python312\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\tooso\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\tooso\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (4.66.2)
Requirement already satisfied: python-slugify in c:\users\tooso\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\tooso\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2.2.1)
Requirement already satisfied: bleach in c:\users\tooso\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\tooso\appdata\local\programs\python\python312\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\tooso\appdata\local\programs\python\python312\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tooso\appdata\local\programs\python\python312\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tooso\appdata\local\programs\python\python312\lib\site-packages (from requests->kaggle) (3.6)
Requirement already satisfied: colorama in c:\users\tooso\appdata\roaming\python\python312\site-packages (from tqdm->kaggle) (0.4.6)

In [649]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [651]:
import kaggle

In [652]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [653]:
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [692]:
import pandas as pd
df = pd.read_csv('orders.csv')
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [693]:
# df.head(20)

df.columns=df.columns.str.lower()

In [694]:
df.columns=df.columns.str.replace(' ','_')

In [695]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [697]:
df.head(20)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,Not Available,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,unknown,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

In [707]:
df['ship_mode'].unique()

df['ship_mode'] = df['ship_mode'].str.replace('unknown','NULL')

# # df['ship_mode'] = df['ship_mode'].str.replace('unknown','NULL')

In [699]:
import numpy as np

In [706]:
# np.replace(['Not Available', 'unknown'], np.nan)
df.replace('Not Available','Na)
df.head(20)
# df.head(20)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,Not Available,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,unknown,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

In [709]:
df.head(20)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,Not Available,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,NULL,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

In [725]:
df['ship_mode'] = df['ship_mode'].str.replace('Not Available','NULL')
df['ship_mode'] = df['ship_mode'].str.replace('nan','NULL')

In [740]:
df.head(20)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
5,6,2022-03-13,NULL,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,7,1.5,48.5,-1.5
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,4,0.3,9.7,-0.3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,6,45.5,864.5,4.5
8,9,2023-03-23,NULL,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,3,0.4,19.6,-0.4
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,5,3.3,106.7,16.7
10,11,2023-03-31,NULL,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,9,51.3,1658.7,188.7
11,12,2023-12-25,NULL,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,4,27.3,882.7,132.7
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,3,0.6,19.4,-0.6
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,3,8.2,401.8,41.8
14,15,2023-11-09,NULL,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,5,3.5,66.5,6.5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,3,0.0,0.0,0.0
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,6,20.1,649.9,39.9
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,2,2.4,57.6,-2.4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,2,0.4,9.6,-0.4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,3,6.3,203.7,33.7

In [727]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [728]:
df['ship_mode'].unique()

array(['Second Class', 'Standard Class', 'NULL', 'First Class', nan,
       'Same Day'], dtype=object)

In [729]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [730]:
#derive new columns discount , sale price and profit

In [731]:
df['discount']=df['discount_percent']*df['list_price']*0.01

In [732]:
df['sale_price']=df['list_price']-df['discount']

In [733]:
df['profit']=df['sale_price']-df['cost_price']

In [734]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [735]:
#convert order date from object data type to datetime

In [736]:
df['order_date']=pd.to_datetime(df['order_date'],format='%Y-%m-%d')

In [737]:
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [738]:
df.drop(['cost_price','list_price','discount_percent'],axis=1,inplace=True)
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [741]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as connection

engine = create_engine('mysql+mysqlconnector://root:GETdata123%40720@127.0.0.1:3306/dummy_order', echo=True)
df.to_sql('df_orders',con=engine,if_exists='append',index=False)

2024-04-14 15:24:33,060 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-14 15:24:33,063 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 15:24:33,072 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-14 15:24:33,073 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 15:24:33,075 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-14 15:24:33,076 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 15:24:33,080 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-14 15:24:33,124 INFO sqlalchemy.engine.Engine DESCRIBE `dummy_order`.`df_orders`
2024-04-14 15:24:33,125 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-14 15:24:33,338 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, sale_price, profit) VALUES (%(order_id)s, %(order_date)s, %(ship_mode)s, %(segment)s, %(country)s, %(city)s, %(state)s, %(postal_code)s, %(region)s, %(category)s, %(sub_category)s, %(product_id)s, %(quantity)s, %(discount)s, %(sale_price)s, %(profit)s)
2024-04-14 15:24:33,339 INFO sqlalchemy.engine.Engine [generated in 0.09287s] [{'order_id': 1, 'order_date': datetime.datetime(2023, 3, 1, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Henderson', 'state': 'Kentucky', 'postal_code': 42420, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Bookcases', 'product_id': 'FUR-BO-10001798', 'quantity': 2, 'discount': 5.2, 'sale_price': 254.8, 'profit': 14.800000000000011}, {'order_id': 2, 'order_date': datetime.datetime(2023, 8, 15, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Henderson', 'state': 'Kentucky', 'postal_code': 42420, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Chairs', 'product_id': 'FUR-CH-10000454', 'quantity': 3, 'discount': 21.900000000000002, 'sale_price': 708.1, 'profit': 108.10000000000002}, {'order_id': 3, 'order_date': datetime.datetime(2023, 1, 10, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Corporate', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90036, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Labels', 'product_id': 'OFF-LA-10000240', 'quantity': 2, 'discount': 0.5, 'sale_price': 9.5, 'profit': -0.5}, {'order_id': 4, 'order_date': datetime.datetime(2022, 6, 18, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Fort Lauderdale', 'state': 'Florida', 'postal_code': 33311, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Tables', 'product_id': 'FUR-TA-10000577', 'quantity': 5, 'discount': 19.2, 'sale_price': 940.8, 'profit': 160.79999999999995}, {'order_id': 5, 'order_date': datetime.datetime(2022, 7, 13, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Fort Lauderdale', 'state': 'Florida', 'postal_code': 33311, 'region': 'South', 'category': 'Office Supplies', 'sub_category': 'Storage', 'product_id': 'OFF-ST-10000760', 'quantity': 2, 'discount': 1.0, 'sale_price': 19.0, 'profit': -1.0}, {'order_id': 6, 'order_date': datetime.datetime(2022, 3, 13, 0, 0), 'ship_mode': 'NULL', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Furniture', 'sub_category': 'Furnishings', 'product_id': 'FUR-FU-10001487', 'quantity': 7, 'discount': 1.5, 'sale_price': 48.5, 'profit': -1.5}, {'order_id': 7, 'order_date': datetime.datetime(2022, 12, 28, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Art', 'product_id': 'OFF-AR-10002833', 'quantity': 4, 'discount': 0.3, 'sale_price': 9.7, 'profit': -0.3000000000000007}, {'order_id': 8, 'order_date': datetime.datetime(2022, 1, 25, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Technology', 'sub_category': 'Phones', 'product_id': 'TEC-PH-10002275', 'quantity': 6, 'discount': 45.5, 'sale_price': 864.5, 'profit': 4.5}  ... displaying 10 of 9994 total bound parameter sets ...  {'order_id': 9993, 'order_date': datetime.datetime(2022, 11, 19, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Costa Mesa', 'state': 'California', 'postal_code': 92627, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Paper', 'product_id': 'OFF-PA-10004041', 'quantity': 4, 'discount': 0.9, 'sale_price': 29.1, 'profit': -0.8999999999999986}, {'order_id': 9994, 'order_date': datetime.datetime(2022, 7, 17, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Westminster', 'state': 'California', 'postal_code': 92683, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Appliances', 'product_id': 'OFF-AP-10002684', 'quantity': 2, 'discount': 7.2, 'sale_price': 232.8, 'profit': 22.80000000000001}]
2024-04-14 15:24:33,831 INFO sqlalchemy.engine.Engine COMMIT

9994