In [3]:
import pandas as pd
df = pd.DataFrame({'EmployeeName': ['John Doe', 'Jane Smith', 'Alice Johnson', 'John Doe'], 'Department': ['Sales', 'Marketing', 'Sales', 'Marketing']})

In [4]:
df

    EmployeeName Department
0       John Doe      Sales
1     Jane Smith  Marketing
2  Alice Johnson      Sales
3       John Doe  Marketing

In [5]:
df['EmployeeName'].unique()

array(['John Doe', 'Jane Smith', 'Alice Johnson'], dtype=object)

In [7]:
# Calculate the monthly average sales for each product. Assume sales data is daily.

# Sample DataFrame:
import numpy as np
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', end='2023-03-31', freq='D'), 'Product': np.random.choice(['ProductA', 'ProductB'], 90), 'Sales': np.random.randint(100, 500, 90)})

In [8]:
df

         Date   Product  Sales
0  2023-01-01  ProductB    112
1  2023-01-02  ProductA    446
2  2023-01-03  ProductA    439
3  2023-01-04  ProductA    442
4  2023-01-05  ProductA    161
..        ...       ...    ...
85 2023-03-27  ProductA    271
86 2023-03-28  ProductB    497
87 2023-03-29  ProductB    344
88 2023-03-30  ProductA    311
89 2023-03-31  ProductA    183

[90 rows x 3 columns]

In [9]:
df['Product'].unique()

array(['ProductB', 'ProductA'], dtype=object)

In [10]:
df.groupby('Product').mean()['Sales']

Product
ProductA    295.735849
ProductB    290.783784
Name: Sales, dtype: float64

In [12]:
df['month']=df['Date'].dt.month

In [19]:
df.groupby(['month','Product']).mean(['Sales'])

                     Sales
month Product
1     ProductA  279.833333
      ProductB  298.307692
2     ProductA  319.823529
      ProductB  237.090909
3     ProductA  288.888889
      ProductB  328.692308

In [21]:
# 3. Identify the top 3 employees with the highest sales in each quarter.

# Sample DataFrame:
df = pd.DataFrame({'Employee': ['John', 'Jane', 'Doe', 'Smith', 'Alice'], 'Quarter': ['Q1', 'Q1', 'Q2', 'Q2', 'Q3'], 'Sales': [200, 150, 300, 250, 400]})

In [22]:
df

  Employee Quarter  Sales
0     John      Q1    200
1     Jane      Q1    150
2      Doe      Q2    300
3    Smith      Q2    250
4    Alice      Q3    400

In [27]:
df.groupby(['Quarter']).max(['Sales'])['Employee']

KeyError: 'Employee'

In [29]:

import pandas as pd

# Sample DataFrame
df = pd.DataFrame({'Employee': ['John', 'Jane', 'Doe', 'Smith', 'Alice'], 
                   'Quarter': ['Q1', 'Q1', 'Q2', 'Q2', 'Q3'], 
                   'Sales': [200, 150, 300, 250, 400]})

# Sort the DataFrame by quarter and sales
df_sorted = df.sort_values(by=['Quarter', 'Sales'], ascending=[True, False])

# Group by quarter and select the top 3 employees with the highest sales in each quarter
top_3_employees = df_sorted.groupby('Quarter').head(3)

print(top_3_employees)

  Employee Quarter  Sales
0     John      Q1    200
1     Jane      Q1    150
2      Doe      Q2    300
3    Smith      Q2    250
4    Alice      Q3    400

In [31]:

# 9. Evaluate the distribution of workload among employees based on the number of tasks assigned in the last six months.

df = pd.DataFrame({'Employee': ['John', 'Jane', 'Doe'], 'TasksAssigned': [20, 25, 15]})

In [32]:
df

  Employee  TasksAssigned
0     John             20
1     Jane             25
2      Doe             15

In [33]:
# 9. Evaluate the distribution of workload among employees based on the number of tasks assigned in the last six months.

df = pd.DataFrame({'Employee': ['John', 'Jane', 'Doe'], 'TasksAssigned': [20, 25, 15]})

In [34]:

import pandas as pd
from datetime import datetime, timedelta

# Sample DataFrame
df = pd.DataFrame({'Employee': ['John', 'Jane', 'Doe'], 'TasksAssigned': [20, 25, 15]})

# Assuming today's date is '2024-04-14'
today = datetime.now()

# Generate a date range for the last six months
six_months_ago = today - timedelta(days=6*30)  # Assuming 30 days per month
date_range = pd.date_range(start=six_months_ago, end=today, freq='D')

# Create a DataFrame with the date range and assign random tasks for each employee
tasks_df = pd.DataFrame({'Date': date_range})
tasks_df['Employee'] = tasks_df.apply(lambda row: df['Employee'].sample(1).values[0], axis=1)
tasks_df['TasksAssigned'] = tasks_df.apply(lambda row: df[df['Employee'] == row['Employee']]['TasksAssigned'].values[0], axis=1)

# Calculate the total tasks assigned to each employee in the last six months
workload_distribution = tasks_df.groupby('Employee')['TasksAssigned'].sum().reset_index()

print(workload_distribution)

  Employee  TasksAssigned
0      Doe            930
1     Jane           1500
2     John           1180

In [36]:
df

      Category  TimeOfDay  Sales
0  Electronics    Morning    300
1     Clothing  Afternoon    150
2  Electronics    Evening    500
3     Clothing    Morning    200

In [42]:
df.groupby(['Category','TimeOfDay']).max()['sales']

KeyError: 'sales'

In [50]:
sales_peak = df.groupby(['Category', 'TimeOfDay'])['Sales'].max().reset_index()
# sales_peak_time = sales_peak.loc[sales_peak.groupby('Category')['Sales'].idxmax()]

In [52]:
sales_peak

      Category  TimeOfDay  Sales
0     Clothing  Afternoon    150
1     Clothing    Morning    200
2  Electronics    Evening    500
3  Electronics    Morning    300